<div class="contenido" id="servicio" style="width: 100%; padding-top: 40px;">
<br>  
  <!-- Team -->
  <section id="team" class="pb-5">
    <div class="container">
      <h5 class="section-title h1">Nuestro Equipo</h5>
      <div class="row">
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of upredes">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p *ngIf="item.foto"><img class=" img-fluid"
                        src="http://sync.upr.edu.cu/api/user/{{item.username}}" alt="card image">
                    </p>
                    <p *ngIf="!item.foto"><img class=" img-fluid"
                        src="../../assets/avatar.png" alt="card image">
                    </p>
                    <h4 class="card-title">{{ item.nombre }} {{ item. apellido1}} {{ item. apellido2}}</h4>
                    <p class="card-text">
                      <label *ngIf="!item.gradoCientifico">Ingeniero</label>
                      <label *ngIf="item.gradoCientifico">{{item.gradoCientifico[1]}}</label>
                      que aumenta el carácter científico Universidad de Pinar del Río</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">{{ item.cargo}}</h4>
                    <p class="card-text">
                      <label *ngIf="!item.gradoCientifico">Ing.</label>
                      <label *ngIf="item.gradoCientifico">{{item.gradoCientifico[0]}}</label>
                       {{ item.nombre }} {{ item. apellido1}} {{ item. apellido2}}, profesor de la facultad de ciencias técnicas, radica en la Dirección de Informatización de la Universidad de Pinar del Río</p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="mailto:{{item.mail}}">                          
                          <i class="fa fa-at"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="http://directorio.upr.edu.cu/">
                          <i class="fa fa-address-book"></i>
                        </a>
                      </li>                      
                      <li class="list-inline-item">                        
                        <a class="social-icon text-xs-center" target="_blank" href="https://www.google.com.cu/search?q={{item.nombre}} {{ item. apellido1}} {{ item. apellido2}}">
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Team member -->
      </div>
    </div>
  </section>
  <!-- Team -->
</div>
 