  
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row" >
          <div *ngFor="let item of [1,2,3,4,5,6,7]">
              <div class="col-md-3">  
                  <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                    <img src="../assets/frank-green.jpg" alt="UPR" class="rounded-circle card-img-top">                
                    <div class="card-body">
                      <h5 class="card-title">FRANK JOSUÉ VIGIL VEGA</h5>
                      <p class="card-text blockquote-footer">SERVICIOS
                      </p>
                    </div>                                    
                  </div>               
              </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 