<mat-toolbar color="">
  <mat-toolbar-row>        
    <span class="example-spacer"></span>    
    <a mat-button routerLink="."><h3>Services</h3></a>
    <hr>
    <a mat-button routerLink="."><h3> La Red</h3></a>    
    <hr>
    <a mat-button routerLink="." active=true>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon"> account_balance </mat-icon>
    </a>
    <hr>
    <a mat-button routerLink="."><h3>Regulaciones</h3></a>    
    <hr>
    <a mat-button routerLink="."> <h3>Noticias</h3> </a>    
    <hr>
    <a mat-button routerLink="."><h3>Contacto</h3></a>
    
  </mat-toolbar-row>
</mat-toolbar>

