
 <!--<div class="contenido"> 
            <img src="../../assets/2880x1800_32-4.jpg" alt="UPR" width="100%" height="500px">
            <div class="texto-cabecera-centrado">
                Dirección de Informatización
            </div>
            <div class="texto-centrado">
                <p>Bienvenido a nuestro sitio. Nuestro joven equipo maneja y se encarga de la informatización de nuestra Universidad de Pinar del Río.
                Si tienes algún problema, necesitas nuestra ayuda o tienes interés en contactarnos aquí estamos.</p>
            </div>
            
            <div class="pie-texto">
                <p> Si tienes algún problema, necesitas nuestra ayuda o tienes interés en contactarnos aquí estamos. </p>
                <button mat-flat-button  routerLink="contacto">Contáctanos</button>
            </div>
        
            <header class="vc_cta3-content-header">
                
                <h2 style="font-size: 48px;color: #515151;font-family:Open Sans;font-weight:300;font-style:normal"
                    class="vc_custom_heading">La Red Somos Todos</h2>
                
            </header>
            
            <p class="pie-texto2">Nuestro Equipo se esfuerza a diario por ofrecer un mejor servicio para la comunidad universitaria. Desde el
                correo que envías hasta el cable que conecta tu PC. Somos los encargados de mantener nuestra universidad
                conectada y visible al mundo.</p>
            <p>&nbsp;</p>
            <br>
            <br>
            <button mat-stroked-button routerLink="servicio">Nuestros Servicios</button>
            
    
    </div>
-->

<div class="card text-center" style="width: 100%">
        <img src="../../assets/2880x1800_32-4.jpg" class="rounded mx-auto d-block" alt="UPR" width="100%" height="500px">
    <div class="card-body">
        <h2 class="card-title"
            style="position: absolute; top: 15%;left: 35%; white-space: nowrap;font-size: 40px;line-height: 42px;font-weight: 250;color: rgba(255, 255, 255, 1.00);font-family:Fira Sans;text-align:center;">
            Dirección de Informatización</h2>
        <p class="card-text"
            style="position: absolute;top: 25%;left: 17%;z-index: 6;min-width: 673px; max-width: 873px;white-space: pre-wrap;font-size: 20px;line-height: 22px;font-weight: 500;color: rgba(255, 255, 255, 1.00);text-align:center;width: 100%;">
            Bienvenido a nuestro sitio. Nuestro joven equipo maneja y se encarga de la informatización de nuestra
            Universidad
            de Pinar del Río.
            Si tienes algún problema, necesitas nuestra ayuda o tienes interés en contactarnos aquí estamos.
        </p>
        <p class="card-text" style="position: absolute;
                    top: 45%;
                    left: 35%;
                    z-index: 7; 
                    min-width: 373px; 
                    max-width: 373px; 
                    max-width: 55px; 
                    max-width: 55px; 
                    white-space: normal; 
                    font-size: 16px; 
                    line-height: 18px; 
                    font-weight: 400; 
                    color: rgba(26, 58, 0, 1.00);
                    text-align:center;">
            Si tienes algún problema, necesitas nuestra ayuda o tienes interés en contactarnos aquí estamos. </p>
        <button style="position: absolute;top: 55%;left: 45%;" type="button" class="btn btn-outline-dark" routerLink="contacto">Contáctanos</button>
    </div>
        <div class="card-body">
            
            <h5 class="card-title">La Red Somos Todos</h5>
            <p class="card-text">Nuestro Equipo se esfuerza a diario por ofrecer un mejor servicio para la comunidad universitaria. Desde el
            correo que envías hasta el cable que conecta tu PC. Somos los encargados de mantener nuestra universidad
            conectada y visible al mundo.</p>
            <a routerLink="servicios" class="btn btn-outline-success">Nuestros Servicios</a>
        </div>

        
</div>