<div class="contenido"> 
        <img mat-card-image src="../../assets/2880x1800_32-4.jpg" alt="UPR" width="100%" height="500px">
        <div class="texto-cabecera-centrado">
            Dirección de Informatización
        </div>
        <div class="texto-centrado">
            <p>Bienvenido a nuestro sitio. Nuestro joven equipo maneja y se encarga de la informatización de nuestra Universidad de Pinar del Río.
            Si tienes algún problema, necesitas nuestra ayuda o tienes interés en contactarnos aquí estamos.</p>
        </div>
        
        <div class="pie-texto">
            <p> Si tienes algún problema, necesitas nuestra ayuda o tienes interés en contactarnos aquí estamos. </p>
            <button mat-flat-button>Contáctanos</button>
        </div>
    
        <header class="vc_cta3-content-header">
            <mat-card-title>
            <h2 style="font-size: 48px;color: #515151;font-family:Open Sans;font-weight:300;font-style:normal"
                class="vc_custom_heading">La Red Somos Todos</h2>
            </mat-card-title>
        </header>
        <mat-card-subtitle>
        <p class="pie-texto2">Nuestro Equipo se esfuerza a diario por ofrecer un mejor servicio para la comunidad universitaria. Desde el
            correo que envías hasta el cable que conecta tu PC. Somos los encargados de mantener nuestra universidad
            conectada y visible al mundo.</p>
        <p>&nbsp;</p>
        <br>
        <br>
        <button mat-stroked-button routerLink="servicio">Nuestros Servicios</button>
        </mat-card-subtitle>
 
</div>
