
    <div class="container-fluid" style="padding-top: 40px;">
        <div class="row">
            <div class="col-md-12">
                <div class="row">                    
                    <div class="col-md-3 " >
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link" href="http://gitlab.upr.edu.cu/users/sign_in" target="_blank">
                                <img src="../assets/gitlab.png" alt="UPR" class="card-img-top zoom">
                            </a>
                            <div class="overlay"> Gitlab</div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link" href="http://composer.upr.edu.cu/" target="_blank">
                                <img src="../assets/composer.png" alt="UPR" class="card-img-top zoom">
                            </a>
                            <div class="overlay"> Composer</div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link" href="http://phpipam.upr.edu.cu/" target="_blank">
                                <img src="../assets/phpipam.png" alt="UPR" class="card-img-top zoom">
                            </a>
                            <div class="overlay"> PhP IPAM</div>
                        </div>
                    </div>
                    <div class="col-md-3"  >
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="http://elk.upr.edu.cu" target="_blank">
                                <img src="../assets/elk.png" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> Elasticsearch</div>
                        </div>
                    </div>
                    <div class="col-md-3"  >
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="http://librenms.upr.edu.cu/" target="_blank">
                                <img src="../assets/librenms.jpg" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> LibreNMS</div>
                        </div>
                    </div>                        
                    <div class="col-md-3 " >
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="http://icingaweb.upr.edu.cu/icingaweb2/authentication/login" target="_blank">
                                <img src="../assets/icinga-logo.png" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> Icinga</div>
                        </div>
                    </div>
                    <div class="col-md-3 " >
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom"  href="http://puppetdb.upr.edu.cu/puppetboard/" target="_blank">
                                <img src="../assets/puppet.png" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> Puppet</div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="card " style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="http://enlaces.upr.edu.cu/" target="_blank">
                                <img src="../assets/mrtg.jpg" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> MRTG</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="http://smokeping.upr.edu.cu/cgi-bin/smokeping.cgi" target="_blank">
                                <img src="../assets/smokeping.png" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> SmokePing</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="https://10.2.2.1:8006/#v1:0:18:4::::::" target="_blank">
                                <img src="../assets/proxmox.png" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> Proxmox</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="https://10.2.9.254/" target="_blank">
                                <img src="../assets/pfsense.jpg" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> Firewall</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="http://mx-externo.upr.edu.cu/cgi-bin/queuegraph.cgi" target="_blank">
                                <img src="../assets/Postfix.png" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> Postfix</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="http://mx-externo.upr.edu.cu/awstats/" target="_blank">
                                <img src="../assets/mx-externo.png" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay">MX-Externo</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="https://www.todus.cu/" target="_blank">
                                <img src="../assets/todus.png" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> Todus</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style=" text-align: center; width: 15rem; margin-top: 20px; border: oldlace; ">
                            <a class="nav-link zoom" href="http://irc.upr.edu.cu/" target="_blank">
                                <img src="../assets/irc.svg" alt="UPR" class="card-img-top">
                            </a>
                            <div class="overlay"> IRC</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
